NET "clk" LOC = B8;
NET "switch[0]" LOC = G18;
NET "switch[1]" LOC = H18;
NET "switch[2]" LOC = K18;
NET "switch[3]" LOC = K17;
NET "switch[4]" LOC = L14;
NET "switch[5]" LOC = L13;
NET "switch[6]" LOC = N17;
NET "switch[7]" LOC = R17;
NET "button[0]" LOC = B18;
NET "button[1]" LOC = D18;
NET "button[2]" LOC = E18;
NET "button[3]" LOC = H13;
#NET "led[0]" LOC = J14;
#NET "led[1]" LOC = J15;
#NET "led[2]" LOC = K15;
#NET "led[3]" LOC = K14;
#NET "led[4]" LOC = E16;
#NET "led[5]" LOC = P16;
#NET "led[6]" LOC = E4;
#NET "led[7]" LOC = P4;
NET "anode[0]" LOC = F17;
NET "anode[1]" LOC = H17;
NET "anode[2]" LOC = C18;
NET "anode[3]" LOC = F15;
NET "cathode[7]" LOC = L18;
NET "cathode[6]" LOC = F18;
NET "cathode[5]" LOC = D17;
NET "cathode[4]" LOC = D16;
NET "cathode[3]" LOC = G14;
NET "cathode[2]" LOC = J17;
NET "cathode[1]" LOC = H14;
NET "cathode[0]" LOC = C17;
